/QLHocSinh/nbproject/private/
/QLHocSinh/build/
QLHocSinh/build.xml
QLHocSinh/nbproject/build-impl.xml
QLHocSinh/nbproject/genfiles.properties
QLHocSinh/nbproject/project.properties
QLHocSinh/nbproject/project.xml
QLHocSinh/build
/JavaApplication2/nbproject/private/
/JavaApplication2/build/